.header {
  grid-column: 1 / -1;

  @include header-style;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: none;

    @extend %phone-text-size;

    width: 201px;
    height: 116px;
    color: #fff;
  }
  &__contacts--show {
    display: block;
  }

  &__icon {
    @include icon-style;
  }

  &__icons {
    display: flex;
  }

  &__contacts-icon {
    margin-left: 144px;

    @include hover-image(
      '../images/icons/header/icon-phone-call.png',
      '../images/icons/header/icon-phone-call.png'
    );
  }

  &__burger-menu {
    margin-left: 24px;

    @include hover-image(
      '../images/icons/header/icon-burger-menu.png',
      '../images/icons/header/icon-burger-menu-hover.png'
    );
  }

  &__title {
    width: 280px;
    height: 80px;
    margin-top: 129px;

    @extend %section-title;
  }
}
