@import '../utils/variables';
@import '../utils/mixins';

.header {
  grid-column: 1 / -1; // Заголовок займає всю ширину

  @include header-style; // Використання міксину для стилю заголовка

  .header__nav {
    display: flex;
    align-items: center;

    @include respond-to('tablet') {
      flex-direction: column; // Зміна напрямку на планшетах
    }
  }

  .header__logo {
    @extend %header-logo-style;
  }

  .header__contacts {
    margin-left: 20px; // Відступ між логотипом і контактами
  }

  .header__contacts-icon,
  .header__burger-menu {
    width: 24px; // Приклад ширини для іконок
    margin-left: 10px; // Відступ між іконками
  }
}
