.header {
  grid-column: 1 / -1;

  @include header-style;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: none;
    text-align: right;

    // @include respond-to(md) {
    //  display: block;
    // }

    &-show {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 15px;
      z-index: 10;
    }
  }

  &__icon-style {
    @include icon-style;
  }

  &__controls {
    display: flex;
  }

  &__contact-toggle {
    margin-left: 144px;

    @include hover-image(
      '../images/icons/header/icon-phone-call.png',
      '../images/icons/header/icon-phone-call.png'
    );
  }

  &__menu-toggle {
    margin-left: 24px;

    @include hover-image(
      '../images/icons/header/icon-burger-menu.png',
      '../images/icons/header/icon-burger-menu-hover.png'
    );
  }

  &__title {
    width: 280px;
    height: 80px;
    margin-top: 129px;

    @extend %section-title;
  }
}
