// components/_hours.scss

.hours {
  margin: 0;
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-left: 20px;
  @include responsive-grid;

  &__title {
    grid-column: 1 / -1;
    padding-bottom: 32px;

    &-mini {
      font-size: 12px;
      font-weight: 700;
      line-height: 140%;
      color: #d12d35;
      letter-spacing: 0;
    }

    &-big {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      color: #161616;
      letter-spacing: -1.5px;
    }
  }

  &__schedule {
    grid-column: 1 / -1;

    &-location {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: #161616;
      text-decoration: none;
      letter-spacing: 0;
    }

    &-location:hover {
      @extend %cursor;

      text-decoration: #0c0c0c underline;
    }

    &-location::after {
      text-decoration: none;
    }
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 24px;
    width: 275px;
    margin: 8px 0 0;

    padding-top: 16px;
  }

  &__item {
    padding-top: 8px;
  }
  &__time {
    @extend %small-text-16px-blood;
  }
  &__days {
    @extend %small-text-16px-italic;
  }
  &__holidays {
    padding-top: 16px;

    &-title {
      @extend %small-text-16px-blood;
    }
    &-text {
      @extend %small-text-16px-italic;
    }
  }
}
