// components/_hours.scss

.hours {
  @extend %element-occupies-all-columns;

  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-left: 20px;

  &__title {
    padding-bottom: 32px;

    &-mini {
      font-size: 12px;
      font-weight: 700;
      line-height: 140%;
      color: #d12d35;
      letter-spacing: 0;
    }

    &-big {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      color: #161616;
      letter-spacing: -1.5px;
    }
  }

  &__schedule {
    &-location {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: #161616;
      text-decoration: none;
      letter-spacing: 0;
    }

    &-location:hover {
      @extend %cursor;

      text-decoration: #0c0c0c underline;
    }

    &-location::after {
      text-decoration: none;
    }
  }

  &__list {
    padding-top: 16px;
    list-style: none;
  }

  &__item {
    display: inline-flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;

    padding-top: 8px;
  }
  &__time {
    @extend %small-text-16px-blood;
  }
  &__days {
    @extend %small-text-16px-italic;
  }
}
