// TODO
.now-on-view {
  margin: 0;
  padding-top: 100px;
  &__title-blood {
    @extend %title-text-style;

    padding-bottom: 8px;
    text-align: center;
  }

  &__title-italic {
    @extend %small-text-16px-italic;

    text-align: center;
  }
  &__wrapper {
    @include responsive-grid;
  }
}
