.menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  transform: translateX(100%);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: $menu-width;
  height: $menu-height;
  padding: 20px;

  color: #fff;

  opacity: 0;
  background: $primary-color;

  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s;

  &--open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
