.menu__nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-item {
    overflow: hidden;
    text-align: left;
    padding-bottom: 32px;
  }

  &-link {
    font-size: 22px;

    @extend %secondary-button-style;

  }

  &-list {
    text-align: left;
    list-style: none;
  }


}
