.menu__nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 69px 22px 20px;

  &-link {
    @extend %phone-text-size;
    @extend %secondary-button-style;

    padding: 11px 69px 22px 20px;
  }

  &-list {
    width: 100%;
    text-align: left;
    list-style: none;
  }

  &-item {
    overflow: hidden;
  }
}
