/* _header-base.scss */
.header {
  @include header-style;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
  }

  &__icon-style {
    @include icon-style;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend %section-title;

    overflow: hidden;
    width: 280px;
    height: 80px;
    padding-bottom: 338px;
  }
}
