/* _header-base.scss */
.header {
  grid-column: 1 / -1;

  @include header-style;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-style {
    @include icon-style;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__title {

    @extend %section-title;

    width: 280px;
    height: 80px;
    margin: 129px auto auto;
  }
}
