/* _header-contacts.scss */
.header {
  &__contacts {
    position: absolute;
    text-align: right;
    width: 201px;
    height: 116px;
    padding: 24px 24px 0 0;
    z-index: 10;

    // Initially hidden
    &--show {
      display: block; // Show when active
    }
    &--hidden {
      display: none; // Show when active
    }
  }

  &__location-title,
  &__phone {
    @extend %phone-text-size; // Ensure this placeholder is defined
  }
}

