/* _header-contacts.scss */
.header {
  &__contacts {
    position: absolute;
    text-align: right;
    width: 201px;
    height: 116px;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 10;

    // Initially hidden
    &--show {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--hidden {
      display: none;
    }
  }

  &__location-title,
  &__location-link,
  &__phone {
    @extend %secondary-button-style;
    @extend %phone-text-size;

  }

  &__location-title {
    padding-top: 8px;
  }
}

