@use "sass:map";
@use "variables";

// Гнучкий міксин для grid
@mixin grid-layout($columns, $row-gap: 10px, $column-gap: 10px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $row-gap $column-gap;
}

// Адаптивність
@mixin respond-to($breakpoint) {
  $breakpoints: (
    'phone': 320px,
    'tablet': 774px,
    'desktop': 1260px,
  );

  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// Стиль для заголовка
@mixin header-style {
  position: absolute;

  width: variables.$header-width;
  height: variables.$header-height;
  padding: 25px 20px 0;

  color: white;

  background: variables.$header-background-image no-repeat center center;
  background-size: cover;
}

// Універсальний стиль для іконок
@mixin icon-style {
  @extend %cursor;

  width: variables.$icons-size;
  height: variables.$icons-size;
}

// Міксин для заміни зображення при наведенні
@mixin hover-image($default, $hover, $transition-speed: 0.3s) {
  width: variables.$icons-size;
  height: variables.$icons-size;

  background: url($default) no-repeat center center;
  background-size: variables.$icons-size, variables.$icons-size;

  transition: background $transition-speed ease;

  &:hover {
    background: url($hover) no-repeat center center;
    background-size: variables.$icons-size, variables.$icons-size;
  }
}
