// utils/_mixins.scss

// Гнучкий міксин для grid
@mixin grid-layout($columns, $row-gap: 10px, $column-gap: 10px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $row-gap $column-gap;
}

@mixin responsive-grid {
  @include grid-layout(2, $grid-gap, $grid-gap);

  @include respond-to('tablet') {
    @include grid-layout(6, $grid-gap, $grid-gap);
  }

  @include respond-to('desktop') {
    @include grid-layout(12, $grid-gap, $grid-gap);
  }
}

@mixin col-span($cols) {
  grid-column: span $cols;
}

// Адаптивність
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

// Стиль для заголовка
@mixin header-style {
  position: relative;

  width: $header-width;
  height: $header-height;
  padding: 25px 20px 0;

  color: white;

  background: $header-background-image no-repeat center center;
  background-size: cover;
}

// Універсальний стиль для іконок
@mixin icon-style {
  @extend %cursor;

  width: $icons-size;
  height: $icons-size;
}

// Міксин для заміни зображення при наведенні
@mixin hover-image($default, $hover, $transition-speed: 0.3s) {
  width: $icons-size;
  height: $icons-size;

  background: url($default) no-repeat center center;
  background-size: $icons-size, $icons-size;

  transition: background $transition-speed ease;

  &:hover {
    background: url($hover) no-repeat center center;
    background-size: $icons-size, $icons-size;
  }
}
