// utils/placeholders.scss
%section-title {
  font-size: $section--text-title-size;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  vertical-align: middle;
}

// Placeholder for phone numbers
%contacts-phone-and-location-text-size {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0;
  vertical-align: middle;
}

// Placeholder for general text
%general-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

// Placeholder for buttons
%primary-button-style {

  @extend %cursor;

  cursor: pointer;

  padding: 0.8rem 1.5rem;
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: white;
  text-align: center;

  background-color: #b00000;

  transition: background 0.3s ease;

  &::after {
    background-color: #eb343d;
  }

  &:hover {
    background-color: #900000;
  }
}

// Placeholder for secondary buttons
%secondary-button-style {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: middle;


  &:hover {

    @extend %cursor;

    text-decoration: #fff underline;
  }
}

// Placeholder for input styles
%input-style {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #161616;

  &::placeholder {
    font-style: italic;
    color: #333;
    opacity: 0.7;
  }
}

// Cursor style as a separate placeholder
%cursor {
  cursor: url('../images/icons/cursor-mouse-mice.png'), auto;
}
