$grid-gap: 20px;
$header-background-image: url('../images/icons/header/image-heder-beac.png'); // Замість '/path/to/your/image.jpg' вставте шлях до вашого зображення
$header-height: 568px; // Висота заголовка
$header-width: 320px; // Висота заголовка
