.site-header {
  &__contacts {
    position: absolute;
    z-index: 10;

    width: 201px;
    height: 116px;
    padding: 50px 16px 0;

    text-align: right;

    &--show {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--hidden {
      display: none;
    }
  }

  &__location-title {
    @extend %secondary-button-style;
    @extend %contacts-phone-and-location-text-size;

    padding-top: 8px;
  }

  &__location-link,
  &__phone {
    @extend %secondary-button-style;
    @extend %contacts-phone-and-location-text-size;
  }
}
