// /base/_base
html,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.body,
.header,
nav,
ul,
li,
img,
p,
.main {
  @extend %reset-element;
}

.body {
  scroll-behavior: smooth;
  overflow-x: hidden; // ← тільки горизонтальну прибираємо
  min-width: 320px;
  font-family: Cinzel, serif;
}

.main {
  padding-right: 20px;
  padding-left: 20px;
}
