// /base/_base
html,
a,
h1,
h2,
h3,
h4,
h5,
h6,
body,
header,
nav,
ul,
li,
img,
p,
.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  font-family: Cinzel, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; // ← тільки горизонтальну прибираємо
}
